/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 1px black solid;
}

html,
body {
	height: 100%;
	min-height: 100vh;
	text-align: center;
	width: 100%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	flex-direction: column;
}

body > * {
	width: 100%;
}

.py-1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

main {
	flex: 1;
}

.calculator {
	max-width: 450px;
	width: 25%;
}
