/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow: visible;
}

html,
body {
	height: auto;
	min-height: 100vh;
	text-align: center;
	width: 100%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	flex-direction: column;
}

body > *,
.calculator > *,
.buttons > * {
	width: 100%;
}

.py-1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.py-2 {
	padding-left: 3rem;
	padding-bottom: 3rem;
}

main {
	flex: 1;
}

.calculator {
	max-width: 350px;
	min-width: 300px;
	width: 25%;
	min-height: 75%;
	min-height: 500px;
	padding: 0.5rem;
}

.calculator,
.display {
	border: 1px solid black;
	border-radius: 15px;
}

.row {
	flex: 1;
	justify-content: space-around;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.display {
	padding: 0.5rem;
}

.buttons {
	flex: 2;
}

.button {
	padding: 1.25rem 1.5rem;
	font-size: 1.25rem;
	width: 23%;
}

.display p {
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	font-family: 'Handjet', cursive;
	font-size: 1.75rem;
	text-align: right;
}

.top,
.bottom {
	max-width: 100%;
	word-wrap: break-word;
}

.clear,
.delete {
	padding: 1rem 1.5rem;
	flex: 1;
	margin: 0.5rem;
	font-size: 1.25rem;
}
